#{$prefix}header {
  background-color: $pretty-header-background-color;

  &-left {
    /*logo*/
    #{$prefix}logo {
      &-box {
        background-color: $pretty-logo-box-background-color;
      }

      &-text {
        color: $pretty-logo-text-color;
      }
    }

    //菜单栏切换
    #{$prefix}sidebar-toggle-btn {
      color: $pretty-sidebar-toggle-btn-color;
    }

    //面包屑
    #{$prefix}breadcrumb {
      .el-breadcrumb__item {
        .el-breadcrumb__inner {
          color: $pretty-breadcrumb-color;

          &.is-link {
            color: $pretty-breadcrumb-link-color;
          }
        }

        .el-breadcrumb__separator {
          color: $pretty-breadcrumb-separator-color;
        }
      }
    }
  }
}

#{$prefix}main {
  /*侧边栏*/
  #{$prefix}sidebar {
    background-color: $pretty-sidebar-background-color;

    #{$prefix}menus {
      background-color: $pretty-menus-background-color !important;
    }
  }

  #{$prefix}content {
    background: $pretty-main-background-color;
  }
}

.el-menu,
.el-menu--vertical {
  background-color: $pretty-menus-background-color !important;

  .el-menu-item,
  .el-submenu__title {
    color: $pretty-menus-menu-color !important;

    &:active,
    &:focus,
    &:hover {
      background: $pretty-menus-menu-hover-background-color;
      color: $pretty-menus-menu-hover-color !important;
    }

    &.is-active {
      background: $pretty-menus-menu-active-background-color;
      color: $pretty-menus-menu-active-color !important;
    }
  }
}

//树
#{$prefix}tree {
  &.el-tree--highlight-current {
    .el-tree-node {
      &.is-current {
        > .el-tree-node__content {
          background-color: $pretty-tree-background-color;
          color: $pretty-tree-color;
        }
      }
    }
  }
}

//标签导航激活
#{$prefix}tabnav-tabs {
  .el-tabs__header {
    .el-tabs__nav {
      .el-tabs__item {
        &.is-active,
        &:hover {
          color: $pretty-theme-color;
          &::before {
            background-color: $pretty-theme-color;
          }
        }
        &.is-active {
          font-weight: bold;
        }
      }
    }
  }
}

#{$prefix}dialog-icon {
  #{$prefix}icon {
    background: $pretty-theme-color;
    color: $pretty-dialog-icon-color;
  }
}

#{$prefix}box-header-icon {
  #{$prefix}icon {
    background: $pretty-theme-color;
    color: $pretty-dialog-icon-color;
  }
}

#{$prefix}list-icon {
  #{$prefix}icon {
    background: $pretty-theme-color;
    color: $pretty-dialog-icon-color;
  }
}
