/*外边距*/
@for $i from 0 through 50 {
  #{$prefix}m-#{$i} {
    margin: #{$i}px !important;
  }

  #{$prefix}m-t-#{$i} {
    margin-top: #{$i}px !important;
  }

  #{$prefix}m-b-#{$i} {
    margin-bottom: #{$i}px !important;
  }

  #{$prefix}m-l-#{$i} {
    margin-left: #{$i}px !important;
  }

  #{$prefix}m-r-#{$i} {
    margin-right: #{$i}px !important;
  }
}
