/*文本*/
#{$prefix}text {
  /***************颜色******************/
  &-info {
    color: $color-info !important;
  }

  &-primary {
    color: $color-primary !important;
  }

  &-success {
    color: $color-success !important;
  }

  &-warning {
    color: $color-warning !important;
  }

  &-danger {
    color: $color-danger !important;
  }

  &-white {
    color: #fff !important;
  }

  /***************对齐******************/
  &-center {
    text-align: center !important;
  }

  &-left {
    text-align: left !important;
  }

  &-right {
    text-align: right !important;
  }

  /*加粗*/
  &-bold {
    font-weight: bold !important;
  }

  /*换行*/
  &-wrap {
    white-space: normal !important;
  }

  /*省略号*/
  &-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
  }
}
